{% extends "main.html" %}


{% block title %}Quadratic Equation{% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='quadraticTemplate.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css')}}">

{% endblock %}


{% block content %}
    <h1>Quadratic Equation</h1>
    <div class="content">
        <form method="post" class="quadratic-form" action="#">
            {{form.hidden_tag()}}
            <div class="quadratic-inputs">
                <div class="text-field">
                    {% if form.a.errors %}
                    {{ form.a(class="form-control is-invalid", placeholder="a")}}
                    <div class="invalid-feedback">
                        {% for error in form.a.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.a(class="form-control", placeholder="a")}}
                    {% endif %}
                </div>


                <div class="text-field">
                    {% if form.b.errors %}
                    {{ form.b(class="form-control is-invalid", placeholder="b")}}
                    <div class="invalid-feedback">
                        {% for error in form.b.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.b(class="form-control", placeholder="b")}}
                    {% endif %}
                </div>
                
                <div class="text-field">
                    {% if form.c.errors %}
                    {{ form.c(class="form-control is-invalid", placeholder="c")}}
                    <div class="invalid-feedback">
                        {% for error in form.c.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.c(class="form-control", placeholder="c")}}
                    {% endif %}
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        <div class="answer">
            <h4>Answers</h4>
            <small>{{ response }}</small>
        </div>
       
    </div>
{% endblock %}
    
    
    
</body>
</html>